<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Topic Page</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <header>
        <h1>Topic Name</h1>
    </header>

    <div class="content">
        <div class="video">
            <iframe width="1080" height="540" src="https://www.youtube.com/embed/video_id" frameborder="0" allowfullscreen></iframe>
            <h2>Description</h2>
            <p>This is a description of the topic. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer nec odio. Praesent libero.</p>
        </div>
        
        <div class="assignments">
            <h2>Assignments</h2>
            <ul>
                <li><a href="assignment.html" onclick="loadAssignment(1)">Assignment 1: Lorem ipsum dolor sit amet</a></li>
                <li><a href="#" onclick="loadAssignment(2)">Assignment 2: Consectetur adipiscing elit</a></li>
                <li><a href="assignment.html" onclick="loadAssignment(3)">Assignment 3: Integer nec odio</a></li>
            </ul>
        </div>

        <div id="assignment-content"></div>
    </div>

    <script src="script.js"></script>
    
</body>
</html>
